Repository hunght/yt-dlp-gui: changes, and which lefthook commands are due for each by the changed paths.
All: lint-electron, prettier, test

lint-electron:
  run: cd apps/electron && npx eslint --fix {staged_files} && git add {staged_files}
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files} && git add {staged_files}
  stage_fixed: true

test:
  run: cd apps/electron && npx jest --bail --findRelatedTests --passWithNoTests {staged_files}

fix(ytdlp): correct asset name for Windows platform
  apps/electron/src/api/utils/ytdlp-utils/ytdlp-utils.ts
Due: lint-electron, prettier, test

chore: complete migration from husky to lefthook
  package.json
Due: prettier

chore: complete migration to lefthook with multi-file configuration
  apps/electron/lefthook.yml
  apps/electron/package.json
  apps/electron/src/api/utils/ytdlp-utils/ytdlp-utils.ts
  lefthook.yml
  package-lock.json
  packages/database/package.json
  packages/tsconfig/package.json
Due: lint-electron, prettier, test

refactor: simplify lefthook config using root option
  apps/electron/lefthook.yml
Due: none

test: verify simplified config works
  apps/electron/src/api/utils/ytdlp-utils/ytdlp-utils.ts
Due: lint-electron, prettier, test

cleanup: remove test comment
  apps/electron/src/api/utils/ytdlp-utils/ytdlp-utils.ts
Due: lint-electron, prettier, test

fix(ytdlp): update Windows asset name to match new format
  apps/electron/lefthook.yml
  apps/electron/src/api/utils/ytdlp-utils/ytdlp-utils.ts
Due: lint-electron, prettier, test

revert: fix incorrect Windows asset name back to yt-dlp.exe
  apps/electron/lefthook.yml
  apps/electron/src/api/utils/ytdlp-utils/ytdlp-utils.ts
Due: lint-electron, prettier, test

fix: correct glob patterns to include full repository path with root option
  apps/electron/lefthook.yml
Due: none

fix: remove unnecessary whitespace in lefthook configuration
  apps/electron/lefthook.yml
Due: none

feat: add code complexity detection and refactoring guidelines
  apps/electron/.eslintrc-complexity.md
  apps/electron/eslint.config.js
  apps/electron/package.json
Due: prettier

chore: add VSCode ESLint settings for complexity detection
  apps/electron/.vscode/settings.json
  apps/electron/eslint.config.js
Due: prettier

feat: add detailed complexity report script with line numbers and visual bars
  apps/electron/eslint.config.js
  apps/electron/package.json
  apps/electron/scripts/complexity-report.cjs
Due: prettier

feat: replace complexity rules with SonarJS cognitive complexity
  apps/electron/.eslintrc-complexity.md
  apps/electron/eslint.config.js
  apps/electron/package.json
  apps/electron/scripts/complexity-report.cjs
  package-lock.json
Due: prettier

docs: update complexity guide with SonarJS cognitive complexity
  apps/electron/.eslintrc-complexity.md
Due: prettier

feat: add interactive HTML complexity report with Cursor IDE integration
  apps/electron/.gitignore
  apps/electron/debug-formats.js
  apps/electron/eslint.config.js
  apps/electron/package.json
  apps/electron/scripts/complexity-report-html.cjs
Due: prettier

fix: use cursor:// protocol instead of vscode:// for IDE integration
  apps/electron/scripts/complexity-report-html.cjs
Due: none

refactor: consolidate complexity reports - keep only HTML version
  apps/electron/package.json
  apps/electron/scripts/complexity-report.cjs
Due: prettier

chore: update ESLint rules to enforce stricter code quality and complexity checks
  apps/electron/eslint.config.js
Due: none

feat: enhance right sidebar functionality with mobile support and improved state management
  apps/electron/eslint.config.js
  apps/electron/src/components/HeaderNav.tsx
  apps/electron/src/components/app-right-sidebar.tsx
  apps/electron/src/pages/player/PlayerPage.tsx
Due: lint-electron, prettier, test

feat: enhance download queue management with detailed progress tracking and restore functionality
  apps/electron/src/components/DownloadQueueSidebar.tsx
  apps/electron/src/main.ts
  apps/electron/src/pages/dashboard/DashboardPage.tsx
  apps/electron/src/services/download-queue/download-worker.ts
  apps/electron/src/services/download-queue/queue-manager.ts
  apps/electron/src/services/download-queue/types.ts
Due: lint-electron, prettier, test

feat: redesign DashboardPage with improved layout, enhanced user interface elements, and added loading states for better user experience
  apps/electron/src/pages/dashboard/DashboardPage.tsx
Due: lint-electron, prettier, test

feat: enhance DownloadQueueSidebar with improved layout, thumbnail support, and refined progress tracking for better user experience
  apps/electron/src/components/DownloadQueueSidebar.tsx
  apps/electron/src/pages/dashboard/DashboardPage.tsx
  apps/electron/src/services/download-queue/queue-manager.ts
Due: lint-electron, prettier, test

feat: implement adaptive polling for download queue status and ensure sidebar updates on queue changes
  apps/electron/src/components/DownloadQueueSidebar.tsx
  apps/electron/src/pages/channel/ChannelPage.tsx
  apps/electron/src/pages/dashboard/DashboardPage.tsx
  apps/electron/src/pages/player/PlayerPage.tsx
  apps/electron/src/pages/subscriptions/SubscriptionsPage.tsx
Due: lint-electron, prettier, test

feat: refactor DashboardPage and PlayerPage to streamline download handling and implement shared seek functionality across components
  apps/electron/src/pages/dashboard/DashboardPage.tsx
  apps/electron/src/pages/player/PlayerPage.tsx
  apps/electron/src/pages/player/components/TranscriptPanel.tsx
  apps/electron/src/pages/player/components/VideoPlayer.tsx
Due: lint-electron, prettier, test

chore: add VSCode settings for ESLint configuration and update .gitignore to include settings.json
  .gitignore
  .vscode/settings.json
  apps/electron/src/App.tsx
  apps/electron/src/api/routers/utils/index.ts
  apps/electron/src/components/version-checker/index.ts
  apps/electron/src/components/version-checker/version-checker.tsx
  apps/electron/src/pages/settings-page/components/AboutSection.tsx
Due: lint-electron, prettier, test

feat: improve error handling and logging in playlists and ytdlp routers, and adjust ESLint complexity rules
  apps/electron/.eslintrc-complexity.md
  apps/electron/eslint.config.js
  apps/electron/src/api/routers/playlists/index.ts
  apps/electron/src/api/routers/ytdlp/index.ts
Due: lint-electron, prettier, test

feat: update channel data upsert logic to preserve existing values when new data is null or undefined, enhancing data integrity
  apps/electron/src/api/utils/ytdlp-utils/database.ts
Due: lint-electron, prettier, test

feat: enforce strict TypeScript rules and eliminate all 'any' types
  apps/electron/LINT_ERROR_FIXING_GUIDE.md
  apps/electron/eslint.config.js
  apps/electron/src/api/db/init.ts
  apps/electron/src/api/db/migrate.ts
  apps/electron/src/api/routers/playlists/index.ts
  apps/electron/src/helpers/logger.ts
Due: lint-electron, prettier, test

docs: add incremental commit workflow to lint fixing guide
  apps/electron/LINT_ERROR_FIXING_GUIDE.md
Due: prettier

feat: export BlockingNotificationData interface and update notification callback type
  apps/electron/src/helpers/blocking-notification/blocking-notification-utils.ts
  apps/electron/src/preload/blocking-notification.ts
Due: lint-electron, prettier, test

docs: update Lint Error Fixing Guide to clarify pre-commit hook functionality
  apps/electron/LINT_ERROR_FIXING_GUIDE.md
Due: prettier

refactor: fix empty catch block in cache.ts
  apps/electron/src/api/utils/ytdlp-utils/cache.ts
Due: lint-electron, prettier, test

refactor: remove any types from ytdlp utils
  apps/electron/src/api/utils/ytdlp-utils/ytdlp.ts
Due: lint-electron, prettier, test

refactor: add Zod validation to ytdlp-utils metadata and fix logger
  apps/electron/src/api/utils/ytdlp-utils/database.ts
  apps/electron/src/api/utils/ytdlp-utils/metadata.ts
  apps/electron/src/helpers/logger.ts
Due: lint-electron, prettier, test

refactor: remove type assertion in watch-stats router
  apps/electron/src/api/routers/watch-stats.ts
Due: lint-electron, prettier, test

refactor: remove type assertions in annotations router
  apps/electron/src/api/routers/annotations.ts
Due: lint-electron, prettier, test

fix: correct lefthook configuration
  apps/electron/src/api/routers/binary/index.ts
  lefthook.yml
Due: lint-electron, prettier, test

refactor: enhance Lefthook configuration and improve error handling in ytdlp-utils
  apps/electron/lefthook.yml
Due: none

refactor: add type safety to preferences router
  apps/electron/src/api/routers/preferences/index.ts
Due: lint-electron, prettier, test

Path conditions:
  lint-electron: any of: apps/electron/**/*.{ts,tsx}
  prettier: any of: *.{ts,tsx,json,md}
  test: any of: apps/electron/**/*.{ts,tsx}, but not: (test|spec)\.(ts|tsx)$
